@import "tailwindcss";

@variant dark (.dark &);

@layer base {
  :root {
    --focus: #000000;
  }

  .dark {
    --focus: #ffffff;
  }

  body {
    @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-50 transition-colors duration-300;
  }

  *:focus-visible {
    outline: 2px solid var(--focus);
    outline-offset: 4px;
  }
}
